<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.DeviceMantainHistoryMapper">
  <resultMap id="BaseResultMap" type="com.tony.erp.domain.DeviceMantainHistory">
    <id column="his_id" jdbcType="VARCHAR" property="hisId" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="his_date" jdbcType="VARCHAR" property="hisDate" />
    <result column="his_operator" jdbcType="VARCHAR" property="hisOperator" />
    <result column="his_result" jdbcType="CHAR" property="hisResult" />
    <result column="his_note" jdbcType="VARCHAR" property="hisNote" />
  </resultMap>
  <sql id="Base_Column_List">
    his_id, device_code, his_date, his_operator, his_result, his_note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_mantain_histo
    where his_id = #{hisId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_mantain_histo
    where his_id = #{hisId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tony.erp.domain.DeviceMantainHistory">
    insert into device_mantain_histo (his_id, device_code, his_date, 
      his_operator, his_result, his_note
      )
    values (#{hisId,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR}, #{hisDate,jdbcType=VARCHAR}, 
      #{hisOperator,jdbcType=VARCHAR}, #{hisResult,jdbcType=CHAR}, #{hisNote,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tony.erp.domain.DeviceMantainHistory">
    insert into device_mantain_histo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hisId != null">
        his_id,
      </if>
      <if test="deviceCode != null">
        device_code,
      </if>
      <if test="hisDate != null">
        his_date,
      </if>
      <if test="hisOperator != null">
        his_operator,
      </if>
      <if test="hisResult != null">
        his_result,
      </if>
      <if test="hisNote != null">
        his_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hisId != null">
        #{hisId,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="hisDate != null">
        #{hisDate,jdbcType=VARCHAR},
      </if>
      <if test="hisOperator != null">
        #{hisOperator,jdbcType=VARCHAR},
      </if>
      <if test="hisResult != null">
        #{hisResult,jdbcType=CHAR},
      </if>
      <if test="hisNote != null">
        #{hisNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.erp.domain.DeviceMantainHistory">
    update device_mantain_histo
    <set>
      <if test="deviceCode != null">
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="hisDate != null">
        his_date = #{hisDate,jdbcType=VARCHAR},
      </if>
      <if test="hisOperator != null">
        his_operator = #{hisOperator,jdbcType=VARCHAR},
      </if>
      <if test="hisResult != null">
        his_result = #{hisResult,jdbcType=CHAR},
      </if>
      <if test="hisNote != null">
        his_note = #{hisNote,jdbcType=VARCHAR},
      </if>
    </set>
    where his_id = #{hisId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.erp.domain.DeviceMantainHistory">
    update device_mantain_histo
    set device_code = #{deviceCode,jdbcType=VARCHAR},
      his_date = #{hisDate,jdbcType=VARCHAR},
      his_operator = #{hisOperator,jdbcType=VARCHAR},
      his_result = #{hisResult,jdbcType=CHAR},
      his_note = #{hisNote,jdbcType=VARCHAR}
    where his_id = #{hisId,jdbcType=VARCHAR}
  </update>
</mapper>