<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.MaterialPurchaseMapper">
    <resultMap id="BaseResultMap" type="com.tony.erp.domain.MaterialPurchase">
        <id column="mph_id" jdbcType="VARCHAR" property="mphId"/>
        <result column="mph_name" jdbcType="VARCHAR" property="mphName"/>
        <result column="mph_sn" jdbcType="VARCHAR" property="mphSn"/>
        <result column="mph_price" jdbcType="REAL" property="mphPrice"/>
        <result column="mph_count" jdbcType="INTEGER" property="mphCount"/>
        <result column="mph_vendor_id" jdbcType="VARCHAR" property="mphVendorId"/>
        <result column="mph_po_id" jdbcType="VARCHAR" property="mphPoId"/>
        <result column="mph_sender" jdbcType="VARCHAR" property="mphSender"/>
        <result column="mph_operator" jdbcType="VARCHAR" property="mphOperator"/>
        <result column="mph_date" jdbcType="VARCHAR" property="mphDate"/>
        <result column="mph_status" jdbcType="CHAR" property="mphStatus"/>
        <association property="vendor" javaType="com.tony.erp.domain.Vendor">
            <id column="v_id" jdbcType="VARCHAR" property="vId"/>
            <result column="v_name" jdbcType="VARCHAR" property="vName"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    mph_id, mph_name, mph_sn, mph_price, mph_count, mph_vendor_id, mph_po_id, mph_sender,
    mph_operator, mph_date, mph_status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from material_purchase
        where mph_id = #{mphId,jdbcType=VARCHAR}
    </select>

    <select id="selectByMphsn" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from material_purchase
        where mph_sn = #{mphSn,jdbcType=VARCHAR} order by mph_date DESC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from material_purchase mp left join vendor v
        on mp.mph_po_id=v.v_id
        order by mp.mph_date DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from material_purchase
    where mph_id = #{mphId,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.tony.erp.domain.MaterialPurchase">
    insert into material_purchase (mph_id, mph_name, mph_sn, 
      mph_price, mph_count, mph_vendor_id, 
      mph_po_id, mph_sender, mph_operator,
      mph_date, mph_status)
    values (#{mphId,jdbcType=VARCHAR}, #{mphName,jdbcType=VARCHAR}, #{mphSn,jdbcType=VARCHAR}, 
      #{mphPrice,jdbcType=REAL}, #{mphCount,jdbcType=INTEGER}, #{mphVendorId,jdbcType=VARCHAR}, 
      #{mphPoId,jdbcType=VARCHAR}, #{mphSender,jdbcType=VARCHAR}, #{mphOperator,jdbcType=VARCHAR},
      #{mphDate,jdbcType=VARCHAR}, #{mphStatus,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.tony.erp.domain.MaterialPurchase">
        insert into material_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mphId != null">
                mph_id,
            </if>
            <if test="mphName != null">
                mph_name,
            </if>
            <if test="mphSn != null">
                mph_sn,
            </if>
            <if test="mphPrice != null">
                mph_price,
            </if>
            <if test="mphCount != null">
                mph_count,
            </if>
            <if test="mphVendorId != null">
                mph_vendor_id,
            </if>
            <if test="mphPoId != null">
                mph_po_id,
            </if>
            <if test="mphSender != null">
                mph_sender,
            </if>
            <if test="mphOperator != null">
                mph_operator,
            </if>
            <if test="mphDate != null">
                mph_date,
            </if>
            <if test="mphStatus != null">
                mph_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mphId != null">
                #{mphId,jdbcType=VARCHAR},
            </if>
            <if test="mphName != null">
                #{mphName,jdbcType=VARCHAR},
            </if>
            <if test="mphSn != null">
                #{mphSn,jdbcType=VARCHAR},
            </if>
            <if test="mphPrice != null">
                #{mphPrice,jdbcType=REAL},
            </if>
            <if test="mphCount != null">
                #{mphCount,jdbcType=INTEGER},
            </if>
            <if test="mphVendorId != null">
                #{mphVendorId,jdbcType=VARCHAR},
            </if>
            <if test="mphPoId != null">
                #{mphPoId,jdbcType=VARCHAR},
            </if>
            <if test="mphSender != null">
                #{mphSender,jdbcType=VARCHAR},
            </if>
            <if test="mphOperator != null">
                #{mphOperator,jdbcType=VARCHAR},
            </if>
            <if test="mphDate != null">
                #{mphDate,jdbcType=VARCHAR},
            </if>
            <if test="mphStatus != null">
                #{mphStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tony.erp.domain.MaterialPurchase">
        update material_purchase
        <set>
            <if test="mphName != null">
                mph_name = #{mphName,jdbcType=VARCHAR},
            </if>
            <if test="mphSn != null">
                mph_sn = #{mphSn,jdbcType=VARCHAR},
            </if>
            <if test="mphPrice != null">
                mph_price = #{mphPrice,jdbcType=REAL},
            </if>
            <if test="mphCount != null">
                mph_count = #{mphCount,jdbcType=INTEGER},
            </if>
            <if test="mphVendorId != null">
                mph_vendor_id = #{mphVendorId,jdbcType=VARCHAR},
            </if>
            <if test="mphPoId != null">
                mph_po_id = #{mphPoId,jdbcType=VARCHAR},
            </if>
            <if test="mphSender != null">
                mph_sender = #{mphSender,jdbcType=VARCHAR},
            </if>
            <if test="mphOperator != null">
                mph_operator = #{mphOperator,jdbcType=VARCHAR},
            </if>
            <if test="mphDate != null">
                mph_date = #{mphDate,jdbcType=VARCHAR},
            </if>
            <if test="mphStatus != null">
                mph_status = #{mphStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where mph_id = #{mphId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tony.erp.domain.MaterialPurchase">
    update material_purchase
    set mph_name = #{mphName,jdbcType=VARCHAR},
      mph_sn = #{mphSn,jdbcType=VARCHAR},
      mph_price = #{mphPrice,jdbcType=REAL},
      mph_count = #{mphCount,jdbcType=INTEGER},
      mph_vendor_id = #{mphVendorId,jdbcType=VARCHAR},
      mph_po_id = #{mphPoId,jdbcType=VARCHAR},
      mph_sender = #{mphSender,jdbcType=VARCHAR},
      mph_operator = #{mphOperator,jdbcType=VARCHAR},
      mph_date = #{mphDate,jdbcType=VARCHAR},
      mph_status = #{mphStatus,jdbcType=VARCHAR}
    where mph_id = #{mphId,jdbcType=VARCHAR}
  </update>


    <select id="selectStatusByMpoId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        mph_status
        from material_purchase
        where
        mph_po_id=#{mphPoId,jdbcType=VARCHAR}
    </select>
</mapper>