<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.MConsumHisMapper">
  <resultMap id="BaseResultMap" type="com.tony.erp.domain.MConsumHis">
    <id column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="mch_name" jdbcType="VARCHAR" property="mchName" />
    <result column="mch_sn" jdbcType="VARCHAR" property="mchSn" />
    <result column="mch_operator" jdbcType="VARCHAR" property="mchOperator" />
    <result column="mch_requestor" jdbcType="VARCHAR" property="mchRequestor" />
    <result column="mch_date" jdbcType="VARCHAR" property="mchDate" />
    <result column="mph_note" jdbcType="VARCHAR" property="mphNote" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tony.erp.domain.MConsumHis">
    <result column="mch_count" jdbcType="LONGVARCHAR" property="mchCount" />
  </resultMap>
  <sql id="Base_Column_List">
    mch_id, mch_name, mch_sn, mch_operator, mch_requestor, mch_date, mph_note
  </sql>
  <sql id="Blob_Column_List">
    mch_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from material_consume_his
    where mch_id = #{mchId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from material_consume_his
    where mch_id = #{mchId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tony.erp.domain.MConsumHis">
    insert into material_consume_his (mch_id, mch_name, mch_sn, 
      mch_operator, mch_requestor, mch_date, 
      mph_note, mch_count)
    values (#{mchId,jdbcType=VARCHAR}, #{mchName,jdbcType=VARCHAR}, #{mchSn,jdbcType=VARCHAR}, 
      #{mchOperator,jdbcType=VARCHAR}, #{mchRequestor,jdbcType=VARCHAR}, #{mchDate,jdbcType=VARCHAR}, 
      #{mphNote,jdbcType=VARCHAR}, #{mchCount,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.erp.domain.MConsumHis">
    insert into material_consume_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="mchName != null">
        mch_name,
      </if>
      <if test="mchSn != null">
        mch_sn,
      </if>
      <if test="mchOperator != null">
        mch_operator,
      </if>
      <if test="mchRequestor != null">
        mch_requestor,
      </if>
      <if test="mchDate != null">
        mch_date,
      </if>
      <if test="mphNote != null">
        mph_note,
      </if>
      <if test="mchCount != null">
        mch_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchName != null">
        #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="mchSn != null">
        #{mchSn,jdbcType=VARCHAR},
      </if>
      <if test="mchOperator != null">
        #{mchOperator,jdbcType=VARCHAR},
      </if>
      <if test="mchRequestor != null">
        #{mchRequestor,jdbcType=VARCHAR},
      </if>
      <if test="mchDate != null">
        #{mchDate,jdbcType=VARCHAR},
      </if>
      <if test="mphNote != null">
        #{mphNote,jdbcType=VARCHAR},
      </if>
      <if test="mchCount != null">
        #{mchCount,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.erp.domain.MConsumHis">
    update material_consume_his
    <set>
      <if test="mchName != null">
        mch_name = #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="mchSn != null">
        mch_sn = #{mchSn,jdbcType=VARCHAR},
      </if>
      <if test="mchOperator != null">
        mch_operator = #{mchOperator,jdbcType=VARCHAR},
      </if>
      <if test="mchRequestor != null">
        mch_requestor = #{mchRequestor,jdbcType=VARCHAR},
      </if>
      <if test="mchDate != null">
        mch_date = #{mchDate,jdbcType=VARCHAR},
      </if>
      <if test="mphNote != null">
        mph_note = #{mphNote,jdbcType=VARCHAR},
      </if>
      <if test="mchCount != null">
        mch_count = #{mchCount,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mch_id = #{mchId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tony.erp.domain.MConsumHis">
    update material_consume_his
    set mch_name = #{mchName,jdbcType=VARCHAR},
      mch_sn = #{mchSn,jdbcType=VARCHAR},
      mch_operator = #{mchOperator,jdbcType=VARCHAR},
      mch_requestor = #{mchRequestor,jdbcType=VARCHAR},
      mch_date = #{mchDate,jdbcType=VARCHAR},
      mph_note = #{mphNote,jdbcType=VARCHAR},
      mch_count = #{mchCount,jdbcType=LONGVARCHAR}
    where mch_id = #{mchId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.erp.domain.MConsumHis">
    update material_consume_his
    set mch_name = #{mchName,jdbcType=VARCHAR},
      mch_sn = #{mchSn,jdbcType=VARCHAR},
      mch_operator = #{mchOperator,jdbcType=VARCHAR},
      mch_requestor = #{mchRequestor,jdbcType=VARCHAR},
      mch_date = #{mchDate,jdbcType=VARCHAR},
      mph_note = #{mphNote,jdbcType=VARCHAR}
    where mch_id = #{mchId,jdbcType=VARCHAR}
  </update>
</mapper>