<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.tony.erp.domain.Product">
    <id column="pro_id" jdbcType="VARCHAR" property="proId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="pro_code" jdbcType="VARCHAR" property="proCode" />
    <result column="pro_status" jdbcType="CHAR" property="proStatus" />
    <result column="pro_image" jdbcType="VARCHAR" property="proImage" />
    <result column="pro_note" jdbcType="VARCHAR" property="proNote" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tony.erp.domain.Product">
    <result column="pro_count" jdbcType="LONGVARCHAR" property="proCount" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, pro_name, pro_code, pro_status, pro_image, pro_note
  </sql>
  <sql id="Blob_Column_List">
    pro_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where pro_id = #{proId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where pro_id = #{proId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tony.erp.domain.Product">
    insert into product (pro_id, pro_name, pro_code, 
      pro_status, pro_image, pro_note, 
      pro_count)
    values (#{proId,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{proCode,jdbcType=VARCHAR}, 
      #{proStatus,jdbcType=CHAR}, #{proImage,jdbcType=VARCHAR}, #{proNote,jdbcType=VARCHAR}, 
      #{proCount,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.erp.domain.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="proCode != null">
        pro_code,
      </if>
      <if test="proStatus != null">
        pro_status,
      </if>
      <if test="proImage != null">
        pro_image,
      </if>
      <if test="proNote != null">
        pro_note,
      </if>
      <if test="proCount != null">
        pro_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proCode != null">
        #{proCode,jdbcType=VARCHAR},
      </if>
      <if test="proStatus != null">
        #{proStatus,jdbcType=CHAR},
      </if>
      <if test="proImage != null">
        #{proImage,jdbcType=VARCHAR},
      </if>
      <if test="proNote != null">
        #{proNote,jdbcType=VARCHAR},
      </if>
      <if test="proCount != null">
        #{proCount,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.erp.domain.Product">
    update product
    <set>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proCode != null">
        pro_code = #{proCode,jdbcType=VARCHAR},
      </if>
      <if test="proStatus != null">
        pro_status = #{proStatus,jdbcType=CHAR},
      </if>
      <if test="proImage != null">
        pro_image = #{proImage,jdbcType=VARCHAR},
      </if>
      <if test="proNote != null">
        pro_note = #{proNote,jdbcType=VARCHAR},
      </if>
      <if test="proCount != null">
        pro_count = #{proCount,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tony.erp.domain.Product">
    update product
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_code = #{proCode,jdbcType=VARCHAR},
      pro_status = #{proStatus,jdbcType=CHAR},
      pro_image = #{proImage,jdbcType=VARCHAR},
      pro_note = #{proNote,jdbcType=VARCHAR},
      pro_count = #{proCount,jdbcType=LONGVARCHAR}
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.erp.domain.Product">
    update product
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_code = #{proCode,jdbcType=VARCHAR},
      pro_status = #{proStatus,jdbcType=CHAR},
      pro_image = #{proImage,jdbcType=VARCHAR},
      pro_note = #{proNote,jdbcType=VARCHAR}
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
</mapper>