<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.tony.erp.domain.UserRole">
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
  </resultMap>

  <insert id="insert" parameterType="com.tony.erp.domain.UserRole">
    insert into user_role (uid, rid)
    values (#{uid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR})
  </insert>

  <select id="selectByRid" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(1)
    from role_module
    where rid = #{rid,jdbcType=VARCHAR}
  </select>

  <delete id="delete" parameterType="java.lang.String">
    delete from user_role where rid=#{rid,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.tony.erp.domain.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>