<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.erp.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.tony.erp.domain.User">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="uname" jdbcType="VARCHAR" property="uname"/>
    <result column="upass" jdbcType="VARCHAR" property="upass"/>
    <result column="departId" jdbcType="VARCHAR" property="departId"/>
    <result column="status" jdbcType="CHAR" property="status"/>
    <association property="profile" javaType="com.tony.erp.domain.Profile">
      <id column="pid" jdbcType="VARCHAR" property="pid" />
      <result column="p_uid" jdbcType="VARCHAR" property="pUid" />
      <result column="p_indate" jdbcType="VARCHAR" property="pIndate" />
      <result column="p_faredate" jdbcType="VARCHAR" property="pFaredate" />
      <result column="p_major" jdbcType="VARCHAR" property="pMajor" />
      <result column="p_id" jdbcType="VARCHAR" property="pId" />
      <result column="p_sex" jdbcType="CHAR" property="pSex" />
      <result column="p_edu" jdbcType="VARCHAR" property="pEdu" />
      <result column="p_tel" jdbcType="VARCHAR" property="pTel" />
      <result column="p_name" jdbcType="VARCHAR" property="pName" />
      <result column="p_wechat" jdbcType="VARCHAR" property="pWechat" />
    </association>
    <association property="department" javaType="com.tony.erp.domain.Department">
      <id column="d_id" jdbcType="VARCHAR" property="dId" />
      <result column="d_name" jdbcType="VARCHAR" property="dName" />
      <result column="d_mamager" jdbcType="VARCHAR" property="dMamager" />
      <result column="d_duty" jdbcType="VARCHAR" property="dDuty" />
    </association>
    <collection property="roles" ofType="com.tony.erp.domain.Role">
      <id column="rid" jdbcType="VARCHAR" property="rid"></id>
      <result column="rname" jdbcType="VARCHAR" property="rname"></result>
      <collection property="modules" ofType="com.tony.erp.domain.Module">
        <id column="mid" jdbcType="VARCHAR" property="mid"></id>
        <result column="mname" jdbcType="VARCHAR" property="mname"></result>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, uname, upass, departId, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from user u left join profile p on u.id=p.p_uid
    inner join user_role ur on u.id=ur.uid
    inner join role r on ur.rid=r.rid
    where u.id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getAllUsers" resultMap="BaseResultMap">
    select
    *
    from user u left join profile p on u.id=p.p_uid
    inner join user_role ur on u.id=ur.uid
    inner join role r on ur.rid=r.rid
    order by p.p_indate
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tony.erp.domain.User">
    insert into user (id, uname, upass, 
      departId, status)
    values (#{id,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{upass,jdbcType=VARCHAR}, 
      #{departid,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.erp.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="upass != null">
        upass,
      </if>
      <if test="departid != null">
        departId,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upass != null">
        #{upass,jdbcType=VARCHAR},
      </if>
      <if test="departid != null">
        #{departid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.erp.domain.User">
    update user
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upass != null">
        upass = #{upass,jdbcType=VARCHAR},
      </if>
      <if test="departid != null">
        departId = #{departid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.erp.domain.User">
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      upass = #{upass,jdbcType=VARCHAR},
      departId = #{departid,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--根据用户名查找其角色和权限信息-->
  <select id="findPropertiesByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT u.*,r.*,m.*,d.* FROM user u
    left join department d on u.departId=d.d_id
    left join profile p on u.id=p.p_uid
    inner join user_role ur on ur.uid=u.id
    inner join role r on r.rid=ur.rid
    inner join role_module mr on mr.rid=r.rid
    inner join module m on mr.mid=m.mid
    <if test="uname != null">
    WHERE u.uname=#{uname,jdbcType=VARCHAR}
    </if>
    order by p.p_indate desc
    </select>

  <select id="selectByUname" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(1)
    from
    user
    <if test="uname != null">
      where uname=#{uname,jdbcType=VARCHAR}
    </if>

  </select>
</mapper>